[Unit]
Description=Python travelBot daemon
After=syslog.target
After=network.target
After=weston.target

[Service]
Type=simple

ExecStartPost=/bin/sleep 15
ExecStart=/usr/bin/python3 /home/mendel/travelBot/project-posenet/main.py --res 480x360
# Give the script some time to startup
TimeoutSec=350

[Install]
WantedBy=multi-user.target
